* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* 
Variables
 */
:root {
  --primaryColor: #650d1b;
  --secondaryColor: #f3b700;
  --background: #eef0f2;
  --mainBlack: #111111;
  --mainWhite: #ffffff;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 0.1rem;
  --navbarShadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  --mainBorderRadius: 0.59rem;
  --smallWidth: 85vw;
  --maxWidth: 40rem;
  --max-width: 1170px;
}

body {
  background-color: var(--background);
  color: var(--mainBlack);
  line-height: 1.4;
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  font-weight: 300;
}
h1,
h2 {
  margin-bottom: 1.25rem;
  letter-spacing: var(--mainSpacing);
  font-family: "Montserrat Alternates", sans-serif;
}

h3,
h4 {
  font-family: "Nunito", sans-serif;
}
p {
  margin-bottom: 1.25rem;
}
ul {
  list-style-type: none;
}
li {
  font-size: 1.3rem;
  font-weight: 300;
}
a {
  text-decoration: none;
  color: var(--mainWhite);
}
/*  NavBar styling*/
.nav-container {
  background: var(--primaryColor);
  height: 5rem;
  box-shadow: var(--navbarShadow);
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.nav-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: var(--smallWidth);
  max-width: var(--max-width);
}
.logo-container {
  display: flex;
}

.logo-icon {
  color: var(--secondaryColor);
  font-size: 1.1rem;
}
.nav-links {
  display: flex;
  align-items: center;
}
.nav-links a {
  display: flex;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 1.2rem;
  padding: 0.25rem 1.5rem;
  transition: var(--mainTransition);
}
.nav-links a:hover {
  color: var(--secondaryColor);
  border-bottom: 3px solid var(--secondaryColor);
}
/* ==End of NavBar styling== */

/* ====Hero Section Begins=== */
.hero-section {
  background: #ee9ca7; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffdde1,
    #ee9ca7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffdde1,
    #ee9ca7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  height: 100vh;
}
.hero-container {
  padding-left: 3rem;
  padding-right: 3rem;
}
.row {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: row; */
  /* flex-direction: row-reverse; */
  margin-right: -15px;
  margin-bottom: -15px;
  margin-left: -15px;
  align-content: stretch;
}
.hero-row {
  align-items: center;
}
.col {
  margin-bottom: 15px;
  margin-top: 50px;
  padding-right: 15px;
  padding-left: 15px;
  flex: 1;
  max-width: 50%;
  flex-basis: 50%;
}
.heading-wrapper {
  max-width: 540px;
  padding-top: 0;
  padding-bottom: 40px;
}
.main-heading {
  text-transform: capitalize;
  font-size: 2.5rem;
}
.sub-heading {
  text-transform: capitalize;
  font-size: 1.5rem;
  color: var(--primaryColor);
}
.image-wrapper {
  max-width: 80%;
}
.hero-img {
  width: 100%;
}
.btn-cta {
  display: block;
  width: 50%;
  border-radius: 50px;
  border: none;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 1.3rem;
  background: var(--secondaryColor);
  color: var(--primaryColor);
}
.btn-cta:hover,
:focus {
  cursor: pointer;
  background: var(--primaryColor);
  color: var(--mainWhite);
  transition: var(--mainTransition);
}
/* 
=====
Media Query
========
 */
/* Media query for phone and handheld devices portrait view */
@media screen and (min-width: 320px) {
  .logo-container {
    margin-left: 1.5rem;
  }
  .logo-text {
    position: relative;
    top: 0.7rem;
  }
  .logo-icon {
    float: right;
    position: absolute;
    bottom: 1.5rem;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
  }
  .hero-container {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .col {
    margin-top: 20px;
    max-width: 100%;
    flex-basis: 100%;
  }
  .main-heading {
    font-size: 1.2rem;
  }
  .sub-heading {
    font-size: 1rem;
  }
  .image-wrapper {
    max-width: 100%;
  }
  .hero-img {
    width: 90%;
  }
  .btn-cta {
    width: 100%;
    font-size: 1rem;
  }
}
/* Media query for tablet view */
@media screen and (min-width: 768px) {
  .logo-container {
    margin-left: 2rem;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .col {
    margin-top: 20px;
    max-width: 100%;
    flex-basis: 100%;
  }
  .hero-section {
    height: 100vh;
  }
  .hero-container {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .image-wrapper {
    max-width: 100%;
  }
  .hero-img {
    margin: 10px auto;
    width: 100%;
  }
  .heading-wrapper {
    max-width: 100%;
  }
  .main-heading {
    text-transform: capitalize;
    font-size: 2rem;
  }
  .sub-heading {
    text-transform: capitalize;
    font-size: 1.3rem;
    color: var(--primaryColor);
  }
  .btn-cta {
    font-size: 2rem;
  }
}

/* Media query for desktop */
@media screen and (min-width: 980px) {
  .col {
    padding-right: 15px;
    padding-left: 15px;
    flex: 1;
    max-width: 50%;
    flex-basis: 50%;
  }

  .hero-container {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .image-wrapper {
    max-width: 100%;
  }
  .hero-img {
    width: 90%;
  }
}
